<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>insert data</title>
</head>
<body>
  <h1>Add Article</h1>
  <hr/>
  <form method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>Enter Article Information</legend>
      <table>
        <!-- <tr>
          <td><label>Title</label></td>
          <td><input type="text" name="title" /></td>
        </tr>
        <tr>
          <td><label>Description</label></td>
          <td><input type="text" name="content" /></td>
        </tr> -->
        <tr>
          <td><label>Image Url</label></td>
          <td><input type="file" name="image" /></td>
        </tr>
      </table>
      <input type="submit" value="Add It!">
    </fieldset>
  </form>
</body>
</html>