<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>insert data</title>
</head>
<body>
  <h1>Add Music</h1>
  <hr/>
  <form method="post">
    <fieldset>
      <legend>Enter Music Data</legend>
      <table>
        <tr>
          <td><label>Name</label></td>
          <td><input type="text" name="Title" /></td>
        </tr>
        <tr>
          <td><label>Artist</label></td>
          <td><input type="text" name="Article" /></td>
        </tr>
      </table>
      <input type="submit" value="Add It!">
    </fieldset>
  </form>
</body>
</html>